@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainbar
{
    background-color: rgb(149, 130, 192) !important ;
    display: flow-root;
    padding: 0 10%;
}
#check
{
    display: none;
}
.logo-header{
    
    display: table;
    float: left;
    vertical-align: middle;
    padding: 0;
    color: #efbbef;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    width: 180px;
    height: 68px;
    position: relative;
    z-index: 9;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.logo-header:before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: -1;
    right: -50px;
    width: 80%;
    transform: skew(30deg);
    background-color: #15499e;
    
}
.logo-header::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: -1;
    right: 10%;
    width: 2000px;
    background-color: #15499e; 
}
.logo-header a{
    color: #efbbef;
    font-size: 33px;
    font-weight: 600;
    line-height: 70px;
    text-decoration: none;
}
.logo-header img
{
    width: 200px;
    padding: 0;
    margin: 0;
    height: 70px;
}
#list 
{
    float: right;
}
#list li{
    display: inline-block;
    line-height: 70px;
    border-radius: 14px;
}
.nav li.active a{
    color: #020101;
    background-color: #0000004d;
    border-radius: 14px;
}
#list li a{
    padding: 15px 25px;
    border: 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    opacity: 1;
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 14px;
}
.nav li:hover a
{
    color: #020101;
    background-color: #5227a1ad;
    border-radius: 14px;
}
@media(max-width: 1250px)
{
    .mainbar{
        padding: 0 2%;
    }
}
.checkbtn{
    float: right;
    width: 20px;
    height: 18px;
    position: relative;
    transform: rotate(0) ;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    top: 25px;
    display: none;
}
.checkbtn span{
    background-color: white;
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0);
    transition: 0.25s ease-in-out;  
}
.checkbtn span:nth-child(1)
{
    top: 0;
}
.checkbtn span:nth-child(2)
{
    top: 7px;
}
.checkbtn span:nth-child(1)
{
    top: 14px;
}
@media(max-width: 992px)
{
    .mainbar{
        padding: 0 10%;
    }
    .checkbtn{
        display: block;
        margin-right: 40px;
    }

    #list{
        z-index: 1;
        position: fixed;
        width: 350px;
        height: 100vh;
        background: rgb(149, 130, 192);
        top: 68px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    #list li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #burger:checked ~ #list{
        display: block;
        left: 0px;
    }
}
@media (max-width: 560px){
    #list{
        display: block;
        width: 100%;

    }
}